/DataStructure/ArraysAndStrings/Permutation/nbproject/private/
/DataStructure/ArraysAndStrings/Permutation/build/
/DataStructure/ArraysAndStrings/isUrl/nbproject/private/
/DataStructure/ArraysAndStrings/isUrl/build/
/DataStructure/ArraysAndStrings/Palindrome/nbproject/private/
/DataStructure/ArraysAndStrings/Palindrome/build/
/JavaApplicationForTst/nbproject/private/
/JavaApplicationForTst/build/
